* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_title_head {
    font-size: 20px;
    color: #08305c;
    margin-bottom: -2px;
}

.tab_head_content {
    background-color: #dfe6e9;
    padding: 10px 5px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.save_Ba_Project {
    width: 100px !important;
    /* line-height: 10px; */
    padding: 2px 10px !important;
    font-size: 10px !important;
    border-radius: 0px !important;
    height: fit-content;
}

.select_box {
    width: 150px !important;
    border-radius: 0px !important;
    font-size: 11px !important;
    padding: 5px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    background-size: 10px 12px !important;
}

.mandatory_star {
    color: red;
    font-size: 14px;
    font-weight: 500;
}

.select_box_1 {
    width: 150px !important;
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 7px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    /* margin-left: 189px !important; */
}

.proc_filter {
    background-color: #03365f;
    padding: 5px 14px;
    color: white;
    border: none;
    font-size: 11px;
}

.bt_process_tab {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* padding-right: 45px; */
}

.task_inner_filt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 45px;
}

.proj_task_inner_filt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 45px;
}

.proj_tsk_filter {
    display: flex;
    justify-content: space-between;
}

.serch_box {
    margin-left: 10px;
}

.pagination_bt {
    border: 1px solid #bcbcbc;
    background: #fff;
    color: #03365f;
}

.card_button {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 5px
}

.save_button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
}

.fields_style {
    padding: 1px 5px !important;
    height: 30px !important;
}

.project_task_view {
    width: 230px;
}

.submit_button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 3px;
}

.btn_proj {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Project_Summary_Filter {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
}

.Excel_upload {
    background-color: #03365f;
    color: #fff;
    font-size: 12px;
    margin-left: 75px;
}

.Excel_upload span {
    margin-left: 7px;
}

form.file_uplaod_ptg {
    margin-top: 20px;
}

form.file_uplaod_ptg {
    margin-top: 20px;
    font-size: 12px;
}

/* Excel */
.excel-table {
    border-collapse: collapse;
    margin: 20px;
}

.excel-table th,
.excel-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.excel-table th {
    background-color: #f2f2f2;
    color: #333;
}

.excel-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.excel-table tr:hover {
    background-color: #eaeaea;
}

/* Excel End */

.Assign_button {
    background-color: rgb(46, 171, 46) !important;
    color: white !important;
    width: 80px !important;
    border: none !important;
    padding: 4px 0px !important;
    border-radius: 4px !important;
}

.icon_show_tsk {
    /* margin-left: 3px; */
    /* margin-left: 0px; */
    font-size: 13px;
    cursor: pointer;
    color: rgb(46, 171, 46) !important;
    margin-top: 5px;
}

.Btn_style_close {
    background-color: rgb(171, 46, 46);
    color: white;
    width: 80px;
    border: none;
    padding: 4px 0px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.E_Staff_Table {
    display: none;
}

/* mark.rag_status.ut {
    width: 100%;
} */
.Stage_Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    padding: 5px 0px;
}

.func_ba_cls {
    width: 60px !important;
    /* padding: 0px !important; */
}

.Details {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    /* height: 30px; */
    align-items: center;
}

mark.rag_status.ut {
    width: 100%;
    text-wrap: pretty;
    /* border-radius: 5px;
    border: 1px solid #000; */
}

span.i_txt_spn_ptg i {
    font-size: 12px;
    cursor: pointer;
    color: #03365f;
}

span.i_txt_spn_ptg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rag_status {
    white-space: nowrap;
    text-align: center;
    padding: 4px 9px !important;
    display: inline-block;
    width: 106px;
    box-sizing: border-box;

}

.Timeline_button {
    white-space: nowrap;
    text-align: center;
    padding: 7px 10px !important;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;

}

.tbl_all_row {
    text-align: center;

}

.content_head_title {
    display: flex;
    justify-content: space-between;
    /* Align items to each end */
    border-bottom: 1px solid #08305c;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.dev_break_btn {
    font-size: 14px !important;
    padding: 1px 10px !important;
    border-radius: 0px !important;
    margin-bottom: 3px !important;
    background-color: #08305c !important;
    border: 1px solid #08305c !important;
}

.dev_break_down_content {
    display: flex;
    gap: 10px;
    margin-top: 14px;
    align-items: center;
}

.return_main_btn,
.create_task_btn {
    display: flex;
    align-items: center;
}

.upload_icon {
    font-weight: 900;
    color: #03365f;
    font-size: 16px;
}

.choose_file {
    cursor: pointer;
}

.content_title_head {
    flex-grow: 1;
    /* Allow the middle content to grow and take up available space */
}

.btn_create_proj {
    font-size: 18px;
    z-index: 1;
}

.content_head_name {
    font-size: 18px;
    margin-left: 14px;
    margin-top: 2px;
}

.space_btw_fields {
    margin-top: 0.7rem !important;
}

.label_txt_chng {
    color: #2d3436;
    font-size: 12px;
}

.search_icon_grp {
    position: relative;
    width: 100% !important;
}

.search_icon_grp i {
    position: absolute;
    font-size: 14px;
    color: #c5c5c5;
    top: 50%;
    right: 26px;
    /* Adjust this value based on the desired distance from the right edge */
    transform: translateY(-50%);
}

.check_box_type {
    color: #08305c;
    font-size: 14px;
    font-weight: 500;
}

.check_box_content {
    cursor: pointer;
}

.cal_icon_grp {
    position: relative;
}

.submit_btn_icon {
    background: #08305c !important;
    color: #ffffff !important;
    margin-right: 30px !important;
    padding: 5px 20px !important;
    border-radius: 0 !important;
    border: 1px solid #08305c !important;
}

.cancel_btn_icon {
    border-radius: 0 !important;
    color: #000;
    background-color: #95a5a6 !important;
    border: 1px solid #95a5a6 !important;
}

.cal_icon_grp i {
    position: absolute;
    top: 50%;
    right: 25px;
    /* Adjust this value based on the desired distance from the right edge */
    transform: translateY(-50%);
    font-size: 14px;
    color: #c5c5c5;
}

.retrn_main_page {
    color: #447E32;
    cursor: pointer;
    margin-left: 12px;
}

.btn_page_number {
    border: 1px solid #bcbcbc;
    background: #03365f;
    color: #fff;
}

.accordian_head {
    background-color: #08305c;
    color: #ffffff !important;
    padding: 0.4rem 1.25rem !important;
    font-size: 12px !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    left: 0;
    position: absolute;
    margin-left: 5px !important;
}

/* .accordion-button {
    background-color: #08305c !important;
} */


.btn_create_proj {
    background: #447E32 !important;
    padding: 1px 11px !important;
    font-size: 13px !important;
    border-radius: 0px !important;
    border: 0 !important;
    color: #fff;
    width: 100px;
}



.formtxt_box_chng {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: -3.5rem;
    width: 120% !important;
}

.search_icon {
    position: absolute;
    top: 28%;
    font-size: 18px;
    color: #c5c5c5;
    right: 9%;
}

.formtxt_box_chng_sml {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: 0rem;
    width: 60% !important;
}

.table_input_box_chng_sml {
    border-radius: 0px !important;
    font-size: 14px !important;
    padding: 4px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: 0rem;
    width: 6rem !important;
}

.submitbtn {
    background: #447E32 !important;
    color: #ffffff !important;
    margin-right: 30px !important;
    padding: 2px 20px !important;
    border-radius: 0 !important;
    font-size: 14px !important;
}

.cancel_btn {
    border-radius: 0 !important;
    background: #bbbbbb !important;
    margin-right: 30px !important;
    padding: 2px 20px !important;
    font-size: 14px !important;
}

.textarea_box_chng {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-color: #bbbbbb !important;
    border: 1px solid #bbbbbb !important;
    margin-left: -3.5rem;
    width: 106% !important;
}

.select_box_chng {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 7px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: -3.5rem;
    width: 120% !important;
}

.pagination_cont_dv {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #08305c;
    padding-top: 20px;
}

.cal_icon_img {
    font-size: 14px;
    color: #c5c5c5;
    margin-right: 6px !important;

}

@media screen and (max-width: 500px) {
    .pagination_cont_dv {
        display: block;
    }
}

.upd_cmts_1 {
    display: flex;
    gap: 20px;
}



.upd_initial_name {
    border: 1px solid #8F742E;
    border-radius: 50%;
    padding: 10px 16px;
    background-color: #ffeaa7;
    color: #8F742E;
    font-weight: 500;
    font-size: 14px;
}

.tbl_all_proj thead tr {
    border-bottom: 2px solid #08305c;
}

.tabwrap {
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #f7f7f7;
    width: fit-content;
    margin-bottom: 0px;
}

table.table thead tr th {
    font-size: 10px;
    padding-top: 5px;
}

.task_tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0px 0;
}

.proj_task_tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0px 0;
}

.task_inner_tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0px 0;
}

.tab {
    display: none;
    cursor: pointer;
}

.tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: none;
}

.tab:checked+label {
    background-color: #03365f;
    color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: pointer;
}

/* .tab:checked+label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #045697;
    color: #fff;
    cursor: pointer;
} */

.tab+label {
    width: 100%;
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    box-sizing: border-box;
    padding: 6px 15px;
    font-size: 10px;
    width: 150px;
    border-right: 1px solid #b3b3b3;
}
.buss_check_ptg {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}
.task_tab {
    display: none;
}

.project_tab {
    width: 147px !important;
}

.task_tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.task_tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.task_tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.task_tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.task_tab:checked+label {
    background-color: #447E32;
    color: #fff;
    /* box-shadow: 0 -1px 0 #fff inset; */
    cursor: pointer;
}

.task_tab:checked+label:hover {
    /* box-shadow: 0 -1px 0 #fff inset; */
    background-color: #447E32;
    color: #fff;
    cursor: pointer;
}

.task_tab+label {
    width: 100%;
    /* box-shadow: 0 -1px 0 #eee inset; */
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #447E32;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 30px;
    box-sizing: border-box;
    padding: 6px 5px;
    font-size: 10px;
}


@media (min-width:768px) {

    .task_tab+label {
        width: 80px;
    }
}

.task_tab+label:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}

.proj_task_tab {
    display: none;
}

.proj_task_tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.proj_task_tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.project_filter_bar {
    display: flex;
    justify-content: space-between;
}

.proj_task_tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.proj_task_tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.proj_task_tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.proj_task_tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.proj_task_tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card_main_box.hover {
    background-color: #f0f0f0;
    /* Change the background color */
    border: 2px solid red !important;
    /* Add a border */
}

.move {
    margin-right: 10px;
    cursor: grab;
    padding: 0px 5px 0px 2px;
}

.proj_task_tab:checked+label {
    background-color: #08305c;
    color: #fff;
    /* box-shadow: 0 -1px 0 #fff inset; */
    cursor: pointer;
}

/* Decrease opacity for hovered droppable area */
.droppable.hover {
    opacity: 0.7;
    border: 1px dashed black;
}

.proj_task_tab:checked+label:hover {
    /* box-shadow: 0 -1px 0 #fff inset; */
    background-color: #08305c;
    color: #fff;
    cursor: pointer;
}

.hover {
    border: 2px dashed red !important;
    /* Dotted border to indicate empty space */
}

.proj_task_tab+label {
    width: 100%;
    /* box-shadow: 0 -1px 0 #eee inset; */
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #08305c;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 15px;
    font-size: 11px;
}

@media (min-width:768px) {

    .proj_task_tab+label {
        width: 156px;
    }
}

.proj_task_tab+label:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}

.tabcontent {
    padding: 10px 0px;
    background-color: #fff;
    width: 100%;

}

.task_inner_tab {
    display: none;
}

.task_inner_tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.task_inner_tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_inner_tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_inner_tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_inner_tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.task_inner_tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.task_inner_tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.task_inner_tab:checked+label {
    background-color: #08305c;
    color: #fff;
    /* box-shadow: 0 -1px 0 #fff inset; */
    cursor: pointer;
}

.task_inner_tab:checked+label:hover {
    /* box-shadow: 0 -1px 0 #fff inset; */
    background-color: #08305c;
    color: #fff;
    cursor: pointer;
}

.task_inner_tab+label {
    width: 80%;
    /* box-shadow: 0 -1px 0 #eee inset; */
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 500;
    border: 2px solid #08305c;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 15px;
}

@media (min-width:768px) {

    .task_inner_tab+label {
        width: 165px;
    }
}

.task_inner_tab+label:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}


/*Nav Tab inner */

.tab_inner {
    display: none;
}

.tab_inner:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab_inner:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.tab_inner:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tab_inner:checked+label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    border-top: 3px solid #03365f;
}

.tab_inner:checked+label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}

.tab_inner+label {
    width: 100%;
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 35px;
    box-sizing: border-box;
    padding: 6px 10px;
}





@media (min-width:768px) {

    .tab_inner+label {
        width: auto;
    }
}

.tab_inner+label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
    border-top: 3px solid #03365f;
}

.tabcontent1 {
    padding: 10px 0px;
    background-color: #fff;
    width: 100%;


}

.fa-caret-down {
    margin-left: -8px;
    margin-top: 2px;
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.total_box {
    /* margin-left: 5px; */
    padding: 14px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.top_div_tet {
    margin-bottom: -5px;
    display: flex;
    margin-top: -14px;
    justify-content: space-between;
}

.top_div_tet label {
    background-color: #fff;
    margin: 0px 10px;
    text-align: left;
    padding: 10px 0px;
    font-size: 12px;
    width: 14%;
    font-weight: 700;
}

.Bottom_div label {
    background-color: #fff;
    margin: -9px 8px;
    text-align: left;
    padding: 10px 0px;
    font-size: 12px;
    width: 14%;
}

.Bottom_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Style_th_prot {
    background-color: rgb(222 218 218);
    padding: 0px 18px;
    height: 30px;
    display: flex;
    align-items: center;

}

.label_td_prot {
    border: 1px solid black;
    border-radius: 4px;
    width: 97px;
    text-align: center;
    padding: 6px 0px;
    display: flex;
    align-items: inherit;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-top: 5px;
    background-color: whitesmoke;

}

.fa-filter {
    cursor: pointer;
}

.offcanvas {
    width: 300px !important;
}

i.fa-solid.prp_dot.fa-circle {
    margin-left: -7px;
    font-size: 7px;
}

td.Style_tr_prot div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

td.Style_tr_prot {
    padding: 5PX 10PX;
    min-width: 120px;
}

.prot_BA_view {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 60px;
    justify-content: space-between;
}

.filter_Group_project {
    display: flex;
    align-items: center;
    gap: 20px;
}

.BA_name_sel {
    background-color: #447E32;
    padding: 2px 15px;
    border: 1px solid black;
    color: white;
    font-size: 12px;
    width: 100px;
}

.BA_name {
    padding: 2px 15px;
    border: 1px solid black;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

.ba_name_prot {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

table.prot_tab tbody tr th {
    vertical-align: baseline;
}

th.lab_dwn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

/* .Bottom_div button {
    text-align: center;
    font-size: 12px;
    width: 14%;
    margin: 0px 10px;
} */

button.btn_bot_div {
    padding: 3px 17px;
    border: none;
    background-color: red;
    color: #fff;
    box-shadow: #950000 0px 0px 2px 1px;
}

button.btn_bot_div_save {
    padding: 5px 17px;

    border: none;
    background-color: #447E32;
    color: #fff;
    box-shadow: rgb(1, 88, 1) 1px 2px;
}



/* // START CARD  */

.ent_name,
.sinm,
.reciveoffer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ent_name input {
    height: 25px;
    border: 1px solid #818181;
}

#message-container {
    height: 300px;
    overflow-y: auto;
}

.card_cnt_inner_odd {
    /* // display: flex; */
    width: 20% !important;
    /* // justify-content: space-between;
  // gap: 5px;
  // color: #323234;
  // margin-bottom: 5px;
  // font-weight: 600; */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.Btn_style_Pending {
    border: none;
    padding: 4px 0px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin: 0px 10px;
    width: 50%;
    background-color: orange;
    color: black;
}

.card_cnt_inner_even {
    display: flex;
    justify-content: flex-start;
    /* //   color: #9493a1;
  //   justify-content: space-between;
  //   margin-bottom: 0; */
    align-items: flex-start;
    width: 20% !important;
    flex-direction: column;
    /* margin-left: 18px; */
    /* //   display: -ms-flexbox;
  //   display: flex;
  //   gap: 5px; */
}

.card_label {
    text-align: left;
    color: #171717;
    font-weight: 600;
    margin-bottom: 0rem !important;

}

.card_main_p_tag {
    width: 100%;
    margin-bottom: 0px;
}

.proj_filter_select {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 0%;
    margin-top: 0px;
    gap: 10px;
    margin-right: 0px;
}

.proj_name_filter {
    border-radius: 0px !important;
    font-size: 11px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-top: 0px;
}

.task_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bt_dev_task_content {
    display: flex;
    justify-content: space-between;
}

.portfolio_tab_task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.card_main_box {
    /* // border: 1px solid #858585;
  // padding: 20px;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // border: 1px solid #ddd;
  // margin: 10px;
  // padding: 10px;
  // width: 100%;
  // border-radius: 10px;
  // box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11); */
    border: 1px solid #ddd;
    margin-left: 0px;
    padding: 0px;
    width: 100% !important;
    border-radius: 0px;
    margin-top: 5px !important;
    margin: auto;
    /* // box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11); */
    border-bottom: none;
}
.pro_det_ptg_txt{
    border-bottom: 1px solid #03365f;
    width: 100%;
}
p.up_t_ptg {
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 20px;
    border-bottom: 1px solid rgb(3, 54, 95);
    margin-right: 20px;
    color: #03365f;
}
.card_heda {
    background-color: #c5ccd4;
    margin-bottom: 0;
    border-radius: 0px;
    padding: 5px 20px;
    /* // border-bottom: 2px solid #9aa1a9; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;


    /* // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.Head_Edit {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    
}


.card_bdy {
    /* flex: 1 1 auto; */
    padding: 7px;
    /* max-height: 145px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.8s; */
}

.text_select_boxes {
    width: 100%
}

.field_style {
    padding: 2px 5px !important;
    line-height: 20px !important;
    font-size: 10px !important;
    border-radius: 0px;
    /* border: 1px solid red !important; */

}

.fa-sort {
    font-size: 12px;
}

.card_cnt {
    margin: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3px;
    gap: 6%;
}

.TaskTitle {
    background-color: rgb(212 212 212) !important;
    color: black !important;
}

.batch_header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #c4c4c4;
    background: rgb(63 63 63);
    padding: 5px;
    color: white;
}

.Batch_row {
    padding: 5px;
    margin: 5px 0px;
}

.batches_list {
    /* border: 2px solid #3f3f3f; */
    border: 2px solid #0bb18f;
    margin: 5px;
    padding: 2px;
}

.Batch_Buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    background-color: rgb(63 63 63);
    padding: 5px;
    font-weight: 600 !important;
}

.Batch_Details {
    display: flex;
    /* // flex-wrap: wrap; */
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
    /* // margin-top: 5px; */
}

.btn_upd_task {
    /* // line-height: 20px!important; */
    border-radius: 0 !important;
    font-weight: 600;
    font-size: 10px !important;
    background-color: #447e32;
    margin: 0px 0px !important;
    padding: 1px 10px !important;
}

.card_head_para {
    margin-top: 0px;
    margin-bottom: 0px !important;
    font-weight: 600;
    font-size: 12px;
}

.edit_btn_card {
    display: flex;
    justify-content: end;
}

.mttop_0 {
    margin-top: 0px !important;
}

.card_down_arrow {
    color: #646464;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    right: 0;
    background-color: #dfdfdf;
    padding: 8px 7px 4px;
    width: 100%;
    text-align: end;
}

.icon_div {
    background-color: #dfdfdf;
}

.file-upload {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 20px 0px;
}

p.pro_align {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

p.pro_align span {
    display: block;
    width: 130px;
}

p.pro_align i {
    position: relative;
    top: 1px;
    font-size: 11px;
}

p.yes_no_align i {
    font-size: 6px;
}

p.yes_no_align {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 3px;
    background-color: #0080002e;
    width: fit-content;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 10px;
}

.e_staff_proj {
    display: none;
}

span.last_num {
    width: 20px;
    display: block;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    font-size: 10px;
    margin-left: 25px;
}

span.last_num_task {
    width: 20px;
    display: block;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    font-size: 10px;
    margin-left: 7px;
}

p.yes_no_align.no {
    background-color: #ff6a6a2e;
}

.plus_top {
    color: #03365f;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.plus_drop_dwn div {
    display: flex;
    align-items: center;
    font-size: 11px;
    width: 100px;
    gap: 7px;
    font-weight: 400;
}

.plus_drop_dwn {
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: absolute;
    z-index: 1;
    top: 42px;
    right: 12px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;
    height: 200px;
    overflow-y: auto;
}

.plus_drop_dwn::-webkit-scrollbar {
    width: 0;
}

label.label_td_prot span {
    display: block;
    margin-left: 0px;
}

table thead tr th {
    text-align: left;
}

table tbody tr td {
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
}

.file-upload-label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload-button {
    background-color: #aeafb0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.file-upload-button:hover {
    background-color: #a1a7ad;
}

.file-upload-text {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}


.card_bdy.height_class {
    max-height: 1000px;
    transition: max-height 0.8s;
}

.card_bdy.height_class .card_down_arrow {
    transform: rotate(180deg);
}

/* // END CARD */
.addBatch {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 20px;
}

.prj_title_head {
    border-bottom: 1px solid #08305c;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    width: 100%;
    margin-bottom: 15px;
}

.btpmo_content_div {
    padding: 20px 30px 5px;
}

.prj_head_name {
    font-size: 20px;
    color: #003d81;
}

.title_main_head_bar {
    display: flex;
    justify-content: space-between;
}

.notify_bar_no_mess {
    position: absolute;
    top: -8px;
    left: 15px;
    display: inline-block;
    padding: 1px 2px;
    min-width: 10px;
    max-width: 25px;
    height: 19px;
    border: 1px solid #dcdde1;
    border-radius: 50%;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    background-color: #dcdde1;
    color: #000000;
    z-index: 1;
    border: 1px solid #747d8c;
}

.proj_notify_content {
    /* border: 1px solid black; */
    padding: 7%;
    position: absolute;
    left: 75%;
    top: 22%;
    z-index: 1;
    border-radius: 20px;
    background-color: grey;
}

.triangle_shape {
    position: absolute;
    top: -8px;
    left: 134px;
    height: 15px;
    width: 15px;
    border-radius: 6px 0px 0px 0px;
    transform: rotate(45deg);
    background: #FFF;
}

.div_1 {
    /* width: 990px; */
    margin: auto;
    /* margin-top: 90px; */
    display: flex;
    align-items: center;
    position: relative;
    left: 38%;
}

.div_1 i {
    cursor: pointer;
    font-size: 20px;
}

.dwn_contents {
    max-height: 253px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    font-size: 10px;
}

.dwn_contents::-webkit-scrollbar {
    width: 6px;
}

.dwn_contents::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.dwn_contents::-webkit-scrollbar-thumb {
    background: #03365f;
    border-radius: 10px;
}

.top_div {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;

}

.div_heder p {
    margin: 0;
}

.div_heder {
    padding: 10px 10px;
    box-shadow: 0px 2px 10px -2px #cedae0;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.dwn_contents div {
    padding: 12px 10px;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}

.top_arrow {
    width: 15px;
    height: 15px;
    box-shadow: 0px 2px 10px -2px #cedae0;
    background-color: white;
    color: #fff;
    border-radius: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    right: 49%;
}

@keyframes fadeindown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeinup {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
}

.fadeInDown {
    animation: fadeindown 0.5s ease forwards;
}

.fadeInup {
    animation: fadeinup 0.5s ease forwards;
}

input:disabled {
    background-color: #e2e2e2 !important;
    color: black;
}

.big_column_width {
    min-width: 90px !important;
}

.small_column_width {
    min-width: 90px !important;
}






/* purushoth Starts */
.form-select.btn_pro_select {
    width: 150px !important;
    font-size: 11px !important;
    padding: 5px 10px !important;
}

.btn_create_proj_summ {
    background: #447E32 !important;
    color: #fff;
    border: none;
    font-size: 11px;
    padding: 6px 12px;
}

input.Search_on_p_inp.rounded-0.boxes {
    border: none;
    font-size: 12px;
}

input.Search_on_p_inp.rounded-0.boxes:focus {
    outline: none;
    border: none;
}

.Search_on_p {
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
    padding: 5px 15px;
}

.Search_on_p i {
    font-size: 12px;
}

table.table.table-responsive.tbl_all_proj {
    overflow-x: visible;
}

span.batch_details {
    font-size: 12px !important;
    letter-spacing: 1px;
    text-decoration: underline;
    font-style: italic;
}

.tab+label:hover {
    background-color: #d6d6d6;
}

.tab:checked+label:hover {
    background-color: #03365f;
    color: #fff;
}

.acc_inner_ptg {
    padding: 20px;
}

button.accordion-button.acc_ptg_on_btn::after,
button.accordion-button.acc_ptg_on_btn:not(.collapsed)::after {
    background-image: none !important;
}

.accordion-item.acc_ptg_on_itm {
    border-radius: 0 !important;
    margin-bottom: 3px;
}

span.edit_btn_ptg {
    background-color: #198754;
    font-weight: 400;
    padding: 1px 10px;
    font-size: 10px;
}

button.accordion-button.acc_ptg_on_btn {
    border-radius: 0 !important;
  
    font-size: 11px;
    font-weight: 600;
    color: #03365f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(3, 54, 95);
    padding: 2px 2px;
}
.ssc_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ssc_btn :nth-child(1),.ssc_btn :nth-child(2){
    background-color: rgb(3, 54, 95);
    border: none;
    color: white;
    padding: 3px 0px;
    width: 70px;
    font-size: 12px;
}
.ssc_btn :nth-child(3){
    background-color:red;
    border: none;
    color: white;
    padding: 3px 0px;
    width: 70px;
    font-size: 12px; 
}
.acc_inn_cnt_ptg div {
    width: 22%;
    /* flex-grow: 1; */
}

.acc_inn_cnt_ptg div p {
    margin-bottom: 0;
}

.acc_inn_cnt_ptg {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 18px;
    /* border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; */

}

select.form-select.acc_inn_sel_ptg {
    font-size: 12px;
    padding: 5px 12px;
    margin-top: 5px;
}

input.form-control.acc_inn_inp_ptg {
    border-radius: 0;
    padding: 5px 12px;
    margin-top: 5px;
    font-size: 12px;
}

button.accordion-button.acc_ptg_on_btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.wrap_acc_out_ptg {
    border: 1px solid #dfdfdf;
    padding-top: 5px;
    border-top: none;
}

.acc_inner_ptg {
    padding: 0px 20px;
}

hr.hr_ptg {
    margin: 8px 0px;
}

.table_div {
    overflow-x: auto;
}

.out_align_ptg {
    display: flex;
    align-items: center;
    gap: 15px;
}

.col-lg-6.col-12.comments_textarea_ptg {
    width: 44.5%;
}

i.fa-solid.acc_ptg_plus.fa-plus {
    margin-right: 10px;
}

button.accordion-button.acc_ptg_on_btn.collapsed span i {
    transform: rotate(0deg) !important;
    transition: transform 0.3s ease;
}

button.accordion-button.acc_ptg_on_btn span i {
    transform: rotate(225deg) !important;
    transition: transform 0.3s ease;
}

.accordion-item.acc_ptg_on_itm {
    border: 1px solid #d1d1d1;
}

.accordion-body.acc_ptg_on_bdy {
    padding: 1rem;
}

@media (min-width: 1390px) and (max-width: 2400px) {
    table.table thead tr th {
        font-size: 11px;
    }

    .container.cnt_adj.mt-4.mb-3 {
        max-width: 1180px;
    }
}

@media (min-width: 1200px) and (max-width: 1390px) {
    .container.cnt_adj.mt-4.mb-3 {
        max-width: 1180px;
    }
}

/* purushoth Ends */


/* sundar */
.navfilter{
    margin: 0px 21px;
    background-color:#08305c;
    margin-bottom: 3px;
}
.filter_btns{
background-color:#08305c;
color: #fff;
padding:5px 20px;
}
.filter_btns:hover{
    cursor: pointer;
}
.bg_highlight{
    background-color: #198754;
}
.filter_body{
    padding: 20px;
}
.tabwrap.new_tab_ptg {
    padding: 15px 0px 0px 20px;
    background-color: #FFF;
}
label.tabs_pgt_1 {
    width: fit-content;
    font-size: 10px;
}
/* sundar ends */