* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_title_head {
    font-size: 25px;
    color: #08305c;
}

.tab_head_content {
    background-color: #dfe6e9;
    padding: 10px 5px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bt_process_tab {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 45px;
}

.task_inner_filt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 45px;
}

.proj_task_inner_filt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 45px;
}

.proj_tsk_filter {
    display: flex;
    justify-content: space-between;
}

.btn_proj {
    margin-right: 30px !important;
}

.serch_box {
    margin-left: 10px;
}

.pagination_bt {
    border: 1px solid #bcbcbc;
    background: #fff;
    color: #03365f;
}

.card_button {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 5px
}

.save_button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
}

.submit_button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 3px;
}
.Excel_upload{
    background-color: green;
    border: none;
    color: white;
    padding: 5px 15px;
}

.rag_status {
    white-space: nowrap;
    text-align: center;
    padding: 2px 9px !important;
    display: inline-block;
    width: 90%;
    box-sizing: border-box;
}

.tbl_all_row {
    text-align: center;

}

.content_head_title {
    display: flex;
    justify-content: space-between;
    /* Align items to each end */
    border-bottom: 1px solid #08305c;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.return_main_btn,
.create_task_btn {
    display: flex;
    align-items: center;
}

.content_title_head {
    flex-grow: 1;
    /* Allow the middle content to grow and take up available space */
}

.btn_create_proj {
    font-size: 18px;
    z-index: 1;
}

.content_head_name {
    font-size: 18px;
    margin-left: 14px;
    margin-top: 2px;
}

.space_btw_fields {
    margin-top: 0.7rem !important;
}

.label_txt_chng {
    color: #2d3436;
    font-size: 12px;
}

.search_icon_grp {
    position: relative;
    width: 100% !important;
}

.search_icon_grp i {
    position: absolute;
    font-size: 14px;
    color: #c5c5c5;
    top: 50%;
    right: 26px;
    /* Adjust this value based on the desired distance from the right edge */
    transform: translateY(-50%);
}

.cal_icon_grp {
    position: relative;
}

.cal_icon_grp i {
    position: absolute;
    top: 50%;
    right: 25px;
    /* Adjust this value based on the desired distance from the right edge */
    transform: translateY(-50%);
    font-size: 14px;
    color: #c5c5c5;
}

.retrn_main_page {
    color: #447E32;
    cursor: pointer;
    margin-left: 12px;
}

.btn_page_number {
    border: 1px solid #bcbcbc;
    background: #03365f;
    color: #fff;
}

.accordian_head {
    background-color: #08305c !important;
    color: #ffffff !important;
    padding: 0.4rem 1.25rem !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    left: 0;
    position: absolute;
    margin-left: 5px !important;
}


.btn_create_proj {
    background: #447E32 !important;
    padding: 1px 11px !important;
    font-size: 13px !important;
    border-radius: 0px !important;
    border: 0 !important;
    color: #fff;
}

.formtxt_box_chng {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 7px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: -3.5rem;
    width: 120% !important;
}

.search_icon {
    position: absolute;
    top: 28%;
    font-size: 18px;
    color: #c5c5c5;
    right: 9%;
}

.formtxt_box_chng_sml {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: 0rem;
    width: 60% !important;
}

.table_input_box_chng_sml {
    border-radius: 0px !important;
    font-size: 14px !important;
    padding: 4px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: 0rem;
    width: 6rem !important;
}

.submitbtn {
    background: #447E32 !important;
    color: #ffffff !important;
    margin-right: 30px !important;
    padding: 5px 20px !important;
    border-radius: 0 !important;
}

.cancel_btn {
    border-radius: 0 !important;
    background: #bbbbbb !important;
    margin-right: 30px !important;
    padding: 5px 20px !important;
}

.textarea_box_chng {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-color: #bbbbbb !important;
    border: 1px solid #bbbbbb !important;
    margin-left: -3.5rem;
    width: 106% !important;
}

.select_box_chng {
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 7px 10px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-left: -3.5rem;
    width: 120% !important;
}

.pagination_cont_dv {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #08305c;
    padding-top: 20px;
}

.cal_icon_img {
    font-size: 14px;
    color: #c5c5c5;
    margin-right: 6px !important;

}

@media screen and (max-width: 500px) {
    .pagination_cont_dv {
        display: block;
    }
}

.upd_cmts_1 {
    display: flex;
    gap: 20px;
}

.big_column_width {
    min-width: 100px !important;
}

.small_column_width {
    min-width: 100px !important;
}

.upd_initial_name {
    border: 1px solid #8F742E;
    border-radius: 50%;
    padding: 10px 16px;
    background-color: #ffeaa7;
    color: #8F742E;
    font-weight: 500;
    font-size: 14px;
}

.tbl_all_proj thead tr {
    border-bottom: 2px solid #08305c;
}

.tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #f7f7f7;
    margin: 0px 0;
}

.task_tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0px 0;
}

.proj_task_tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0px 0;
}

.task_inner_tabwrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 0px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0px 0;
}

.tab {
    display: none;
    cursor: pointer;
}

.tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tab:checked+label {
    background-color: #03365f;
    color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: pointer;
}

.tab:checked+label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #045697;
    color: #fff;
    cursor: pointer;
}

.tab+label {
    width: 100%;
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 35px;
    box-sizing: border-box;
    padding: 6px 15px;
    font-size: 14px;
}

.task_tab {
    display: none;
}

.task_tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.task_tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.task_tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.task_tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.task_tab:checked+label {
    background-color: #447E32;
    color: #fff;
    /* box-shadow: 0 -1px 0 #fff inset; */
    cursor: pointer;
}

.task_tab:checked+label:hover {
    /* box-shadow: 0 -1px 0 #fff inset; */
    background-color: #447E32;
    color: #fff;
    cursor: pointer;
}

.task_tab+label {
    width: 100%;
    /* box-shadow: 0 -1px 0 #eee inset; */
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #447E32;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 30px;
    box-sizing: border-box;
    padding: 6px 15px;
    font-size: 11px;
}

@media (min-width:768px) {

    .tab+label {
        width: 200px;
    }
}

@media (min-width:768px) {

    .task_tab+label {
        width: 101px;
    }
}

.task_tab+label:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}

.proj_task_tab {
    display: none;
}

.proj_task_tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.proj_task_tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.project_filter_bar {
    display: flex;
    justify-content: space-between;
}

.proj_task_tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.proj_task_tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.proj_task_tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.proj_task_tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.proj_task_tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card_main_box.hover {
    background-color: #f0f0f0;
    /* Change the background color */
    border: 2px solid red !important;
    /* Add a border */
}

.move {
    margin-right: 10px;
    cursor: grab;
    padding: 0px 5px 0px 2px;
}

.proj_task_tab:checked+label {
    background-color: #08305c;
    color: #fff;
    /* box-shadow: 0 -1px 0 #fff inset; */
    cursor: pointer;
}

/* Decrease opacity for hovered droppable area */
.droppable.hover {
    opacity: 0.7;
    border: 1px dashed black;
}

.proj_task_tab:checked+label:hover {
    /* box-shadow: 0 -1px 0 #fff inset; */
    background-color: #08305c;
    color: #fff;
    cursor: pointer;
}

.hover {
    border: 2px dashed red !important;
    /* Dotted border to indicate empty space */
}

.proj_task_tab+label {
    width: 100%;
    /* box-shadow: 0 -1px 0 #eee inset; */
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #08305c;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 15px;
    font-size: 11px;
}

@media (min-width:768px) {

    .proj_task_tab+label {
        width: 156px;
    }
}

.proj_task_tab+label:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}

.tabcontent {
    padding: 10px 0px;
    background-color: #fff;
    width: 100%;

}

.task_inner_tab {
    display: none;
}

.task_inner_tab:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;

}

.task_inner_tab:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_inner_tab:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_inner_tab:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.task_inner_tab:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.task_inner_tab:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.task_inner_tab:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.task_inner_tab:checked+label {
    background-color: #08305c;
    color: #fff;
    /* box-shadow: 0 -1px 0 #fff inset; */
    cursor: pointer;
}

.task_inner_tab:checked+label:hover {
    /* box-shadow: 0 -1px 0 #fff inset; */
    background-color: #08305c;
    color: #fff;
    cursor: pointer;
}

.task_inner_tab+label {
    width: 80%;
    /* box-shadow: 0 -1px 0 #eee inset; */
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 500;
    border: 2px solid #08305c;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 15px;
}

@media (min-width:768px) {

    .task_inner_tab+label {
        width: 165px;
    }
}

.task_inner_tab+label:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}


/*Nav Tab inner */

.tab_inner {
    display: none;
}

.tab_inner:checked:nth-of-type(1)~.tabcontent:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:checked:nth-of-type(2)~.tabcontent:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:checked:nth-of-type(3)~.tabcontent:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:checked:nth-of-type(4)~.tabcontent:nth-of-type(4) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    width: 100%;
}

.tab_inner:first-of-type:not(:last-of-type)+label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab_inner:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
}

.tab_inner:last-of-type:not(:first-of-type)+label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tab_inner:checked+label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    border-top: 3px solid #03365f;
}

.tab_inner:checked+label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}

.tab_inner+label {
    width: 100%;
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 35px;
    box-sizing: border-box;
    padding: 6px 10px;
}


@media (min-width:768px) {

    .tab_inner+label {
        width: auto;
    }
}

.tab_inner+label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
    border-top: 3px solid #03365f;
}

.tabcontent1 {
    padding: 10px 0px;
    background-color: #fff;
    width: 100%;


}


/* // START CARD  */

.ent_name,
.sinm,
.reciveoffer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ent_name input {
    height: 25px;
    border: 1px solid #818181;
}

#message-container {
    height: 300px;
    overflow-y: auto;
}

.card_cnt_inner_odd {
    /* // display: flex; */
    width: 20% !important;
    /* // justify-content: space-between;
  // gap: 5px;
  // color: #323234;
  // margin-bottom: 5px;
  // font-weight: 600; */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.card_cnt_inner_even {
    display: flex;
    justify-content: flex-start;
    /* //   color: #9493a1;
  //   justify-content: space-between;
  //   margin-bottom: 0; */
    align-items: flex-start;
    width: 20% !important;
    flex-direction: column;
    /* //   display: -ms-flexbox;
  //   display: flex;
  //   gap: 5px; */
}

.card_label {
    text-align: left;
    color: #2f3640;
    font-weight: 500;
    margin-bottom: 0rem !important;

}

.card_main_p_tag {
    margin-bottom: 0px;
}

.proj_filter_select {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 0%;
    margin-top: 15px;
    gap: 10px;
    margin-right: 0px;
}

.proj_name_filter {
    border-radius: 0px !important;
    font-size: 12px !important;
    border-color: #c5c5c5 !important;
    border: 1px solid #bbbbbb !important;
    margin-top: 10px;
}

.task_content {
    display: flex;
    justify-content: space-between;
}

.card_main_box {
    /* // border: 1px solid #858585;
  // padding: 20px;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // border: 1px solid #ddd;
  // margin: 10px;
  // padding: 10px;
  // width: 100%;
  // border-radius: 10px;
  // box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11); */
    border: 1px solid #ddd;
    margin-left: 5px;
    padding: 0px;
    width: 98%;
    border-radius: 0px;
    margin-top: 5px !important;
    /* // box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11); */
}

.card_heda {
    background-color: #c5ccd4;
    margin-bottom: 0;
    border-radius: 0px;
    padding: 0px 20px;
    /* // border-bottom: 2px solid #9aa1a9; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.card_bdy {
    flex: 1 1 auto;
    padding: 7px;
    max-height: 145px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.8s;
    padding-bottom: 30px;
}


.card_cnt {
    display: flex;
    /* // flex-wrap: wrap; */
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
    /* // margin-top: 5px; */
}

.btn_upd_task {
    /* // line-height: 20px!important; */
    border-radius: 0 !important;
    font-weight: 600;
    font-size: 10px !important;
    background-color: #447e32 !important;
    margin: 6px 0px !important;
    padding: 1px 10px !important;
}

.card_head_para {
    margin-top: 3px;
    margin-bottom: 0rem !important;
    font-weight: 600;
    font-size: 13px;
}

.edit_btn_card {
    display: flex;
    justify-content: end;
}

.mttop_0 {
    margin-top: 0px !important;
}

.card_down_arrow {
    color: #646464;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    right: 0;
    background-color: #dfdfdf;
    padding: 8px 7px 4px;
    width: 100%;
    text-align: end;
}

.icon_div {
    background-color: #dfdfdf;
}
.file-upload {
    display: inline-block;
    font-family: Arial, sans-serif;
}

.file-upload-label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload-button {
    background-color: #aeafb0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.file-upload-button:hover {
    background-color: #a1a7ad;
}

.file-upload-text {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}


.card_bdy.height_class {
    max-height: 1000px;
    transition: max-height 0.8s;
}

.card_bdy.height_class .card_down_arrow {
    transform: rotate(180deg);
}

/* // END CARD */
.addBatch {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 20px;
}

.prj_title_head {
    border-bottom: 1px solid #08305c;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    width: 100%;
    margin-bottom: 15px;
}

.btpmo_content_div {
    padding: 20px 30px 5px;
}

.prj_head_name {
    font-size: 20px;
    color: #003d81;
}

.title_main_head_bar {
    display: flex;
    justify-content: space-between;
}

.notify_bar_no_mess {
    position: absolute;
    top: -8px;
    left: 15px;
    display: inline-block;
    padding: 1px 2px;
    min-width: 10px;
    max-width: 25px;
    height: 19px;
    border: 1px solid #dcdde1;
    border-radius: 50%;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    background-color: #dcdde1;
    color: #000000;
    z-index: 1;
    border: 1px solid #747d8c;
}

.proj_notify_content {
    /* border: 1px solid black; */
    padding: 7%;
    position: absolute;
    left: 75%;
    top: 22%;
    z-index: 1;
    border-radius: 20px;
    background-color: grey;
}

.triangle_shape {
    position: absolute;
    top: -8px;
    left: 134px;
    height: 15px;
    width: 15px;
    border-radius: 6px 0px 0px 0px;
    transform: rotate(45deg);
    background: #FFF;
}

.div_1 {
    /* width: 990px; */
    margin: auto;
    /* margin-top: 90px; */
    display: flex;
    align-items: center;
    position: relative;
    left: 38.5%;
}

.div_1 i {
    cursor: pointer;
    font-size: 20px;
}

.dwn_contents {
    max-height: 253px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    font-size: 12px;
}

.top_div {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;

}

.div_heder p {
    margin: 0;
}

.div_heder {
    padding: 10px 10px;
    box-shadow: 0px 2px 10px -2px #cedae0;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.dwn_contents div {
    padding: 12px 20px;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}

.top_arrow {
    width: 15px;
    height: 15px;
    box-shadow: 0px 2px 10px -2px #cedae0;
    background-color: white;
    color: #fff;
    border-radius: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    right: 49%;
}

@keyframes fadeindown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeinup {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
}

.fadeInDown {
    animation: fadeindown 0.5s ease forwards;
}

.fadeInup {
    animation: fadeinup 0.5s ease forwards;
}

input:disabled {
    background-color: #bfbfbf !important;
    color: black;
}